{% extends '::base.html.twig' %}


{% block page_left %}

    <div style="margin-left: 10px">


        </ul>

        <h3 style="color: white">Administration</h3>
        <ul style="margin-left:6px; padding-top:10px;font-size: medium ;" class="nav nav-pills nav-stacked">

            <li id="Clients"><a href="{{ path('Aclient_index') }}">Client</a></li>
            <li id="Fournisseurs"><a href="{{ path('Afournisseur_index') }}">Fournisseur</a></li>
            <li id="Categories"><a href="{{ path('Acategorie_index') }}">Categories</a></li>
            <li id="Marques"><a href="{{ path('Amarque_index') }}">Marques</a></li>
            <li id="Utilisateurs"> {% if app.session.get('role')=='admin' %}
                <a href="{{ path('Autilisateur_index') }}">
                    {% endif %}Utilisateurs</a></li>



        </ul>


    </div>


{% endblock %}

{% block page_top %}
<div class="row">


</div>




{% endblock %}

{% block page_center %}
<br><br><br>
<img width="90%" height="280px" style=" margin-left: 50px"  src="{{ asset('bundles/espace_admin.gif') }}">




{% endblock %}

