
{% extends 'BackBundle::utilisateur/index.html.twig' %}


{% block page_left %}
    <div style="margin-left: 10px">


        <h3 >Utilisateurs</h3>
        <ul style="font-size: medium ;" class="nav nav-pills nav-stacked">
            <br>
            <li ><a href="{{ path('Autilisateur_index') }}">Utilisateur</a></li>
            <li class="active"><a href="{{ path('Autilisateur_compte') }}">Mon compte</a></li>


        </ul>


    </div>


{% endblock %}

{% block page_top %}<div  class="col-md-3  " style="margin-top: 10px; margin-left: 130px ; font-size:25px"> Mon compte  </div>


{% endblock %}
{% block page_center %}


    <div class="row">
        <div style="margin-left: 130px" class="col-md-5">
            <table class="table table-hover">
                <br>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ utilisateur.nom }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ utilisateur.prenom }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ utilisateur.email }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ utilisateur.password }}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>{% if utilisateur.active %}<img width="40px" src="{{ asset('valide.png') }}">  </a>
                        {% else %}<img width="40px" src="{{ asset('invalide.png') }}">  </a>{% endif %}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ utilisateur.role }}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-offset-1 col-md-4" style="margin-top: 30px">
            <br>
            <tr>



                <a class="btn  col-md-3" href="{{ path('Autilisateur_comptemodifier')}}">
                    <img width="60px" src="{{ asset('modifier.jpg') }}"></a><br>


        </div>
    </div>


{% endblock %}
