{% extends '::laayout.html.twig' %}

{% block page_left %}
    <div style="margin-left: 10px">


        <h3 >CommandeVente</h3>
        <ul style="font-size: medium ;" class="nav nav-pills nav-stacked">

            <li ><a href="{{ path('Vcmd_new') }}">Creer Commande</a></li>
            <li><a href="{{ path('Vcmd_list') }}">Liste Commande</a></li>

        </ul>
        <h3 >Facture</h3>
        <ul style="font-size: medium ;" class="nav nav-pills nav-stacked">

            <li class="active"><a href="{{ path('facture_list') }}">Facture</a></li>


        </ul>
        <h3 >Client</h3>
        <ul style="font-size: medium ;" class="nav nav-pills nav-stacked">

            <li><a href="{{ path('Aclient_index') }}">Client</a></li>


        </ul>

    </div>

{% endblock %}
{% block page_top %}


        <div style="font-size: 25px;margin-top: 10px;margin-left: 30px" class=" col-md-4">Facture
        </div>

    <div style="margin-top: 10px;font-size: 20px" class=" col-md-2  ">

        <button type="button" class="btn btn-primary" onclick="printJS('print', 'html')">
            Imprimer
        </button>
    </div>
    <div class="col-md-offset-2 col-md-3 ">
        <a style="margin-top: 10px" class="btn btn-default col-md-5 col-md-offset-1" href="#" onclick="window.history.back()" >Retour</a>
    </div>
    <br>



{% endblock %}





{% block page_center %}
    <div id="print">
    <div style="font-size: 20px; margin-top: 20px;margin-left: 20px" class="row" >
        <div class="col-md-3 "> Facture N°: <span style=""> {{ fact.id }}</span ></div><br>
        <div class="col-md-3 "> Client : <span style=""> {{ fact.commandeVente.client }}</span ></div>
        <div class="col-md-3 col-md-offset-1">
            <span style=""> date : <span style=""> {{ fact.date.format("Y-m-d ") }} </span></span>

        </div>

        <div class="col-md-3 col-md-offset-1">
            <span style=""> <span style="text-decoration: "> REKTOUR SARL<br>Elkelaa sraghnas<br>
                      Rektour@gmail.com<br>0524417895 </span></span>

        </div>

    </div>




        <div class="row">
        <div class="col-md-8 col-md-offset-2"> <br>
            <br>
            <table   class=" table table-bordered ">
                <thead>
                <tr>
                    <th class="text-center">Ref</th>
                    <th width="200px" class="text-center">Designation</th>
                    <th class="text-center">PrixU HT (DH)</th>
                    <th class="text-center">Quantité</th>
                    <th class="text-center">Tva %</th>
                    <th class="text-center">TVA</th>
                    <th class="text-center">sous Total(DH)</th>

                </tr>
                </thead>
                <tbody id="tbody">

                {% for l in lg %}

                    <tr >
                        <td class="text-center">{{ l.produit.id }}</td>
                        <td 200px class="text-center">{{ l.produit.designation }}</td>
                        <td class="text-center">{{ l.prixUnitaire }}DH</td>
                        <td class="text-center">{{ l.quantite }}</td>
                        <td class="text-center">{{ l.produit.tva }}</td>
                        <td class="text-center">{{ l.tva }}</td>
                        <td class="text-center">{{ l.soustotal }}DH</td>

                    </tr>

                {% endfor %}


                </tbody>

            </table>
            <hr><hr>
            <div style="" class="row">
                <table   class=" table  ">
                    <thead>
                    <tr>
                        <th class="text-center">Total HT (DH)</th>
                        <th width="200px" class="text-center">Total Tva(DH)</th>
                        <th width="200px" class="text-center">Remise %</th>
                        <th class="text-center">Total TTC(DH)</th>

                    </tr>
                    </thead>
                    <tbody id="tbody">

                            <td class="text-center">{{ t }}</td>
                            <td  class="text-center">{{ v }}</td>
                            <td  class="text-center">{{ fact.remise }}</td>
                            <td class="text-center well ">{{ fact.commandeVente.total }}DH</td>
               </tbody>

                </table>
            <br><br>
            </div>
        </div>


        <div>


        </div>

{% endblock %}