{% extends '::laayout.html.twig' %}

{% block page_left %}
    <div style="margin-left: 10px">



        <h3 >Achat</h3>
        <ul style="font-size: medium ;" class="nav nav-pills nav-stacked">

            <li class="active"><a href="{{ path('bon') }}">Creer Commande</a></li>
            <li><a href="{{ path('listbon') }}">Liste Commande</a></li>
            <li><a href="{{ path('livraisoncmd',{'id':'0'}) }}">Livraison</a></li>

        </ul>
        <h3 >Fournisseur</h3>
        <ul style="font-size: medium ;" class="nav nav-pills nav-stacked">

            <li><a href="{{ path('Afournisseur_index') }}">Fournisseur</a></li>


        </ul>

    </div>

{% endblock %}
{% block page_top %}
    <div class="row">
        <div style="font-size: 25px;margin-top: 10px;margin-left: 20px" class=" col-md-3"> Nouveau bon</div>
        <div class="col-md-8 " style="margin-top: 10px">
            <div class="ui-widget">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form(form) }}
            </div>

        </div>
    </div>


   <script>
       $(function(){
           $('form').attr('class','form-inline');
           $('label').hide();

       });
   </script>
{% endblock %}
{% block page_center %}

    <div style="margin-top: 50px" class="row">

        <div class="col-md-3 ui-widget">


            <select class="form-control" id="fournisseur" >
                <option value="0">Choisissez fournisseur</option>
                 {% for f in four %}
                     <option value="{{ f.id }}"> {{ f.nom }} {{ f.prenom }}</option>
                 {% endfor %}
            </select>
        </div>



        <div class="col-md-8  ">


            <table   class=" table table-hover table-striped table-bordered  ">
                <thead>
                <tr>
                    <th class="text-center">Ref</th>
                    <th width="200px" class="text-center">Designation</th>
                    <th class="text-center">Prix Achat TTC (DH)</th>
                     <th class="text-center">Quantité</th>

                    <th class="text-center">sous Total TTC(DH)</th>
                    <th class="text-center" >Actions</th>
                </tr>
                </thead>
                <tbody id="tbody">
                    {% if app.session.has('bon') %}
                    {% for cmd in app.session.get('bon') %}

                        <tr id="{{ cmd.id }}">
                            <td class="text-center">{{ cmd.id }}</td>
                            <td 200px class="text-center">{{ cmd.designation }}</td>
                            <td class="text-center">{{ cmd.prix }}DH</td>
                            <td class="text-center">{{ cmd.quantite }}</td>
                            <td class="text-center">{{ cmd.prix*cmd.quantite }}DH</td>
                            <td class="text-center" >
                                <button class="btn btn-danger btn-sm"  onclick="sup({{ cmd.id }})"  >
                                    <span class="glyphicon glyphicon-trash"> Delete</span></button>
                          </td>
                        </tr>

                    {% endfor %}

                    {% endif %}
                </tbody>
            </table>

            <div id="btn"  class=" col-md-offset-3">
                {% if app.session.get('totalbon')!=0 %}
                <div class="row"><div class="col-md-offset-7">
                        <div style="font-size: 20px"  >Total TTC</div>
                        <div id="total" style="font-size: 25px" class="col-md-11 well">{{ app.session.get('totalbon') }} DH</div> </div> </div> <hr>
                <button class="btn btn-success col-md-3 col-md-offset-4" onclick="passer()"   >Valider </button>
                <button  class="btn btn-danger col-md-3 col-md-offset-1 " onclick="annuler()" >Annuler </button><br><br>
            {% endif %}
            </div>
            <div class="row"><br>
            </div>
        </div>


    </div>


    <script>

        $(function() {



            sup=function(id){

                if(confirm('Etes vous sur ?')){
                    var url=Routing.generate('suplignebon',{'id':id});

                    $.get(url,function(data){

                        $('#'+id).html("");
                        $('#total').html(data+' DH');
                        if(data==0){
                            $('#btn').hide();
                        }

                });

            }}
            passer=function(){
                if($('#fournisseur').val()==0){
                    alert('Veuillez entrer Fournisseur');}
                else{
                if(confirm('Taper oui pour continuer')){
                var url=Routing.generate('validerbon',{'four':$('#fournisseur').val()});
                    window.location.href=url;

                   }else{
                     var url=Routing.generate('Vbon_valider',{'four':$('#fournisseur').val()});
                       window.location.href=url;
                   }
                }
            }
            annuler=function(){
                if(confirm('Etes vous sur ?')){

                    var url=Routing.generate('annulerbon');
                    window.location.href=url;


                }
            }

            $('#cmdregler').hide();
            $('#form_quantite').attr('style',"width: 80px");

            $("#form_cherch").keyup(function (e) {

                var n = $("#form_cherch").val();

                var cat = $("#form_type").val();
                var url = Routing.generate('complete', {'n':n,'c':cat});

                $("#form_cherch").autocomplete({
                    source: function (request, response) {


                        $.get(url, function (data) {

                                response(data);
                        });
                    }

                });


            });








            $('form').submit(function(){

                $('#form_Ajouter').attr('disabled','disabled');
                var n = $("#form_cherch").val();

                var cat = $("#form_type").val();
                var q=$("#form_quantite").val();
                patt2 = /^[0-9]+$/g;
                if(! patt2.test(q) || q == 0){
                    alert('Quantité invalide ... ');
                    $("#form_quantite").val("");
                    $('#form_Ajouter').removeAttr('disabled');
                    return false;
                }


                var url = Routing.generate('Vbonnew', {'n': n, 'c': cat,'q':q});


                $.get(url, function (data) {
                    if(data=='-1'){ alert('Produit inexistant');$('#form_Ajouter').removeAttr('disabled'); return false}



                    var i=0;
                    $('#btn').html("");
                    $('#btn').show();
                    $('#tbody').html("");
                var total=0;
                for(i=0;i<data.length;i++){
                    total=total+data[i].soustotal;

                    ref=data[i].id;des=data[i].designation;prix=data[i].prix;q=data[i].quantite;t=data[i].soustotal;

                    $('#tbody').append('<tr id="'+ref+'" class="text-center"> ' +
                                '<td>' + ref + '</td>   ' +
                                  '<td width="200px">'+ des +'</td>' +
                                '<td> ' + prix + 'DH </td>' +
                                '<td>' + q + '</td>' +

                                '<td> ' + t + 'DH</td> ' +
                                '<td> <button class="btn btn-danger btn-sm" onclick="sup('+ref+')" >' +
                            '<span class="glyphicon glyphicon-trash"> Delete</span></button> </td>'+
                            '</tr> '

                               );


                    }
                $('#btn').html(' <div class="row">'+'<div class="col-md-offset-8">' +
                        ' <div style="font-size: 20px" class=" text-danger" >Total</div> ' +
                        '<div  id="total" style="font-size: 20px" class=" col-md-10 well">'+total+'DH</div> </div> </div> <hr> ' +
                        '<button class="btn btn-success col-md-4 col-md-offset-3" onclick="passer()"   >Passer </button> ' +
                        '<button  class="btn btn-danger col-md-4 col-md-offset-1 " onclick="annuler()" >Annuler </button><hr>');

                    $("#form_cherch").val("");

                    $("#form_quantite").val("");
                 });


                $('#form_Ajouter').removeAttr('disabled');
                return false;

            });





        })


    </script>

{% endblock %}