{% extends 'StockBundle::produit/produit.html.twig' %}


{% block page_top %}
    <div class="row">
    <div  class="col-md-3 " style="margin-top: 10px;margin-left:40px ; font-size: 25px">Produits list </div>
    <div class="col-md-6 col-md-offset- " style="margin-top: 10px">

        {% form_theme form 'bootstrap_3_layout.html.twig' %}

        {{ form(form) }}

    </div>
        <div class="col-md-2" style="margin-top: 10px"><a  class=" col-md-8 btn btn-danger" href="{{ path('produit_new') }}" >Creer</a></div>
    </div>
{% endblock %}
{% block page_center %}
    <br>
<div class="col-md-12" style="overflow:auto" >
    {% if app.session.flashbag.has('msg') %} {{ app.session.flashbag.get('msg')[0] }}  {% endif %}
    <br>
    <table   class=" table table-striped table-bordered  ">
        <thead>
            <tr style="background-color: black;color: white">
                <th>Id</th>
                <th>Designation</th>
                <th>Image</th>
                <th>categorie</th>
                <th>Marque</th>
                <th>Prixachat<br>(DH)</th>
                <th>Marge<br>(%)</th>
                <th>Prixvente<br>(DH)</th>
                <th>Tva %</th>
                <th >Quantité<br>Stock</th>
                <th>Quantité<br>seuil</th>

                <th >Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td width="100" style="width: 10%" >{{ produit.designation }}</td>
                <td><img width="70px"   src="{{ asset('bundles/image/'~produit.image  ) }}"></td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.marque }}</td>
                <td>{{ produit.prixAchat }}</td>
                <td>{{ produit.Marge }}</td>
                <td>{{ produit.prixVente }}</td>
                <td>{{ produit.tva }}</td>

                <td id="gs{{ produit.id }}" {% if produit.quantiteStock<= produit.quantiteSeuil %} class="alert-danger" {% endif %}  >
                    {{ produit.quantiteStock }}</td>
                <td>{{ produit.quantiteSeuil }}</td>






                <td>

                     <a  class="btn btn-info col-md-5"  href="{{ path('produit_show', { 'id': produit.id }) }}">
                     <span class="glyphicon glyphicon-new-window"></span></a>

                   <a  class="btn btn-danger col-md-offset-1 col-md-5 " href="{{ path('produit_modifier', { 'id': produit.id }) }}">
                       <span class="glyphicon glyphicon-pencil"></span>
                   </a>






                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <script>
        $(function() {


            test1=function(x,y){
                if($.trim(x).match(/^[0-9]+$/)  ){

                    $('a').attr('disabled','true');

                    var url=Routing.generate("produit_entrer",{id: y, nb : x });
                    $.get(url, function(data){
                        $("#gs"+y).html(data);
                        alert("Quantite s'est mise à jour; Nouvelle quantité :"+data);
                        $('a').removeAttr('disabled');

                    });

                }else{
                    alert('Entrez un nombre');

                }

            }
            test2=function(x,y){
                if($.trim(x).match(/^[0-9]+$/)  ){
                    $('a').attr('disabled','true');
                    var url=Routing.generate("produit_sortir",{id: y, nb : x });
                    $.get(url, function(data){

                        if(data=='00'){
                            alert("Quantite demandée supperieur au quantité du stock ");
                            $('a').removeAttr('disabled');
                        }else {
                            $("#gs"+y).html(data);
                            alert("Quantite s'est mise à jour; Nouvelle quantité :" + data);

                            $('a').removeAttr('disabled');
                        }

                    });

                }else{
                    alert('Entrez un nombre');

                }

            }
            $('label').hide();
            $('form').attr('class','form-inline');

            $('#form_cherch').removeAttr('required');
            $('form').on('submit',function(){


            })
        });



    </script>


{% endblock %}
