{% extends 'BackBundle::marque/marque.html.twig' %}
{% block head %}
    <script>
        $(function(){
            $('#Marques').attr('style','background-color:#EFEFEF');

        });
    </script>
{% endblock %}


{% block page_top %}
    <div class="row">
        <div  class="col-md-3 col-md-offset-2 " style="font-size: 25px;margin-left: 200px;margin-top: 10px">Marques list </div>

        <div class="col-md-2 col-md-offset-3" style="margin-top: 10px"><a class=" col-md-8 btn btn-danger" href="{{ path('Amarque_new') }}" >Creer</a></div>
    </div>
{% endblock %}

{% block page_center %}
    <br>
    <div class="col-md-8 col-md-offset-2" style="overflow:auto" >
    <table   class="  table table-striped table-bordered  ">
        <thead>
        <tr style="background-color: black;color: white">
            <th width="100px">Id</th>
            <th width="200px">Marque</th>
            <th width="200px">Categorie</th>
            <th width="200px">action</th>

        </tr>
        </thead>
        <tbody>

        {% for marque in marques %}
            <tr >

                <td>{{ marque.id }}</td>
                <td>{{ marque.marque }}</td>
                <td>{{ marque.categorie }}</td>


                <td>
                  <a  style="margin-left: 5px" class="btn btn-danger  col-md-5" href="{{ path('Amarque_modifier', { 'id': marque.id }) }}">Modifier</a>

                    <a style="margin-left: 5px" class="btn btn-info col-md-6"  onclick="if(!confirm('etes vous sur !'))
                    {return false}"  href="{{ path('Amarque_delete', { 'id': marque.id }) }}">Supprimer  </a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
{% endblock %}
